components-timer {
    
div{//Sets the basic style for the div
    background-color:"Data.colour";
    border: solid black 1px;
    vertical-align: middle;
    word-break: break-word;
}
/*ion-col{//sets the colour of the lines between the two columns may need changing if it is not visible enough
    border-right: solid white 1px;
}*/

}
