
  <ion-header><!-- sets the header for the page with -->
    
    <ion-navbar  text-center>
      <ion-title>
      Map<!-- the title of the page -->
      </ion-title>
      <ion-buttons end >
        <button ion-button swipeEnabled="false" icon-only menuToggle right>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <components-timer *ngIf="Data.GivenTime"></components-timer>
</ion-header>

<ion-content>
  
<!-- A section of the page with the id map set to take up 50% of the height automatically taking all of the width and calling the onMapClick function passing the $event which is the lat and lng of where was clicked -->
  


<!--the section of the code that deals with the markers in an ion item list -->
  <div id="markers" height="10vh;" style="color: #006bb6;">
    <ion-item><!-- an ionic element that contains the dropdown with the selections for icons -->
      <ion-label style="font-size: 1em;">Add Markers</ion-label><!-- The label present in the menu -->
      <ion-select multiple="true" interface="alert" (ionChange)="AddMapMarkers($event)">
        <!-- the ionic element that creates the dropdown menu with multiple allowed to be selected and the alert interface others are available but not in this case whenever the values change and ok is pressed it will call the AddMapMarkers function passing the values of the selected markers -->
        <ion-option [value]="1">
          <ion-label>Hospitals</ion-label>
        </ion-option>
        <!-- each ion-option has a value and a label showing which markers will be added and their values which will be passed to the end this is the same for all following ion-select-options -->
        <ion-option [value]="2" >
          <ion-label>TeleStroke Sites</ion-label>
        </ion-option>
        <ion-option [value]="3" >
          <ion-label>tPA Sites</ion-label>
        </ion-option>
        <ion-option [value]="4" >
          <ion-label>EVT Sites</ion-label>
        </ion-option>
        <ion-option [value]="5">
          <ion-label>Health Services</ion-label>
        </ion-option>
        <ion-option [value]="6">
          <ion-label>Helipads</ion-label>
        </ion-option>
        <ion-option [value]="7">
          <ion-label>Airports</ion-label>
        </ion-option>
        <ion-option [value]="8">
          <ion-label>Ambulance Bases</ion-label>
        </ion-option>
        <ion-option [value]="9">
          <ion-label>ORNGE Bases</ion-label>
        </ion-option>
      </ion-select>
    </ion-item>

  </div>
  <ion-searchbar #searchBar (ionInput)="SearchInput()" [(ngModel)]="SearchResults"></ion-searchbar>
  <div #Map class="map" [hidden]="HideMap" [style.height]=height></div>
  <ion-scroll [hidden]="!HideMap" scrollY="true" [style.height]=height class="scroller">
    <ion-list *ngIf="!NoResults">
    <div *ngFor="let result of Results">
      <ion-item (click)="AddPlace(result)" text-wrap *ngIf="result.name; else notcentre">
        <ion-label >
      {{result.city}}: {{result.name}}
    </ion-label>
    </ion-item>
    <ng-template #notcentre>
      <ion-item text-wrap (click)="AddPlace(result)">
<ion-label>
  {{result.city}}
</ion-label>
      </ion-item>
      </ng-template>
    </div>
  </ion-list>
  <div *ngIf="NoResults"><h1 text-center>No Results</h1></div>
  </ion-scroll>
  

       
</ion-content>


