page-lkw-modal {
    .image{
        padding-left: 0vw;
        padding-right: 0vw;
        padding-top: 0vh;
        padding-bottom: 0vh;
        display: inline-block;
        margin-right: 0px;
        margin-left: 0px;
        vertical-align: middle;
      }
}
