page-patient-location {
.button{
  font-size: large;
}
.ion-title{
  font-size: x-large;
}
  .button-native[disabled] {
    cursor: default;
    opacity: .5;
    pointer-events: none;
}
.no-scroll .scroll-content{
  overflow: hidden;
}
.input-cover { position: static; }

agm-map {
          height: 500px;
        }

        $toolbar-background: #3D9BDD;
}
.no-scroll .scroll-content{
  overflow: hidden;
}

* {
  margin: 0 ;
  padding:0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  width: 100px;
  height:100px;
  background-color: #ccc;
}

