<ion-header>
  <ion-navbar text-center>
    <ion-title style="font-size: x-large;"><!--keep the font size extra large I think this allows it to change with different devices instead of specifying a font size or pixel size -->
      Patient Location
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle right>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <components-timer></components-timer><!--the timer is a component or a developer defined entry it does not take any arguments and because declaring it on every page made it reset each time the data is controlled by the data provider and just accessed by the component-->

</ion-header>
<ion-content no-bounce padding  style="height: 100vh;"id="page1"><!--vh is currently used to show the total viewable height but may need to be changed as it does not always work -->
  <br>
  <h3 text-center id="lastKnownWell-heading5" >
    Where is the<br>patient located?
  </h3>
  
  <div style="height:5vh;"></div>
  <!--This button is currently disabled it would require a search of all the health centers to see which one is the closest but in order to cut down on the amount of queries we are making I would like to figure out how to store it all locally and synchronize before moving on with this part-->
  <!--<button type ="button"  id="patientLocation-button1"  ion-button fill="outline"  block on-click="setCurrentPosition()" large round> 
    CHOOSE YOUR LOCATION
  </button>
  <div style="height:3vh;"></div>
<p style="text-align: center;font-size: large">OR</p>-->
<div style="height:3vh;"></div>
<!--this is the search box for the cities every time there is a new key entered it will search by calling the functions in the ts -->
  <ion-input type="text" [(ngModel)]="searchterm" (keyup)="search($event)" autocapitalize="off" class="input" style="font-size: large;" placeholder="Search By City or Centre" id="txtHome" required style = "background-color: lightgray;" class="roundedEntry"></ion-input>
  <ion-scroll scrollY="true" style="height: 52vh;">
  <div *ngFor="let health_centres of Medical_Centers"><!--*ngFor is a special function of ionic that allows it to go through and display every part of a list in this case all the parts returned by the search function -->
<!--Tried the height to fix it probably does nothing and no screen size is that small-->
  <!--<ion-card *ngIf="health_centres.name; else elseText" text-wrap style="font-size: auto; text-align: center;" color="steelblue1" block (click)="getLatLng(health_centres)">
  <p>
    {{health_centres.name}}:  {{health_centres.city}}
  </p>
  </ion-card>-->
   <button type ="button" padding *ngIf="health_centres.name; else elseText" height="auto" id="patientLocation-button1" text-wrap style="font-size: auto; text-align: center;padding-top: 4vh;padding-bottom: 4vh;" ion-button  fill="outline"  block on-click="GoNext(health_centres)" round large>
      <p style="color: white;">
        {{health_centres.name}}:  {{health_centres.city}}<!--This is another special part of ionic where it allows you to display information from the ts file -->
      </p>
    </button>
    <ng-template #elseText>
    <button type ="button" padding  id="patientLocation-button1" text-wrap style="font-size: auto; text-align: center;padding-top: 4vh;padding-bottom: 4vh;" ion-button  fill="outline"  block on-click="GoNext(health_centres)" large round>
      <p style="color: white;">
        {{health_centres.city}}<!--This is another special part of ionic where it allows you to display information from the ts file -->
      </p>
    </button>
  </ng-template>
  </div>

  <div *ngIf="Medical_Centers?.length < 1"><!--ngIf is another ionic specific thing that only shows if the value is true in this case if there are no results it will show the No results text if the length of the list is less than one  -->
    <hr>
    <p style="font-size: x-large; text-align: center;">
      No results
    </p>
  </div>
</ion-scroll>
</ion-content>

