<ion-header>
  <ion-navbar  text-center>
    <ion-title>
      Imaging Routes
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only menuToggle right>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <components-timer></components-timer><!--The component timer which is present on each page apart from the last known well -->
</ion-header>


<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
<ion-content no-bounce  id="Imaging" >

  <h4 id="treatment-heading6" text-center style="color:#006bb6;font-size: x-large;"><!--the header for the page with style specified  -->
 
   Routes to Imaging<br>Capable Hospitals
  </h4>
  <div *ngIf="Spinner" style="height: 58.9vh;">
  <spinner ></spinner>
</div><!--ngIF is a special ionic element that works like an if and only shows if true in this case if spinner is true it will show it -->
  <div class="card-scroll" *ngIf="show"><!--this is where the cards will be once show is set to true  -->
    <p text-center style="color: black;">Click on the route option for next steps</p>
<div *ngIf="results"><!--if there are no results this will show the error message  -->
  <br><br>
  <p style="font-size: large;">{{display}}</p>
  
</div>
    <ion-scroll scrollY="true" style="height: 68.9vh; color: white;" ><!--this is the actual card section which is allowed to scroll but I will need to revisit the height to have it work on more devices  -->
<ion-list justify-content-center align-items-center><!--the list of elements all put into the center -->
  <ion-item *ngFor="let card of cards" ><!--ngFor is another ionic element that allows you to iterate through a list each one being called card in this case -->
    <ion-card *ngIf="card.Driving" tappable (click)="goToRoute(card)"  text-wrap [style.background-color]="card.colour"><!--These are if the card is a driving type and wil call the normal routing function -->
      <ion-card-content >
       
        <ion-grid >
          <ion-row>
            <ion-col col-10 >
              <p style="font-size: small;color: white; margin-left: -2vw;"><b>{{card.city}}</b></p>
              <p style="font-size: larger;color: white;">{{card.name}}</p>
          </ion-col>
          <ion-col>
            <!--
           <img src= "./assets/Travel/Ambulance.png"> 
           -->
           <div *ngIf="!card.expanded" (click)="expandItem($event,card)">
            <svg xmlns='http://www.w3.org/2000/svg'  class='ionicon' viewBox='0 0 512 512'><title>Chevron Down</title><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M112 184l144 144 144-144'/></svg>
          </div>
          <div *ngIf="card.expanded" (click)="expandItem($event,card)">
            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Chevron Up</title><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M112 328l144-144 144 144'/></svg>
        </div>
          </ion-col>
          </ion-row>
          <ion-row >
            <p class="imageText">{{card.services}}</p>
            <br><!-- Put in the line somewhere here to have the expansion separated-->
            <p style="font-size: small;color: white;">Historical Time to Definitive Care
              <span style="font-size: medium;"><b> XX:XX<!-- (n=X)--></b></span></p>
            <br><br>
          </ion-row>
          <expand expandHeight="20vh" [expanded]="card.expanded">
          <ion-row style="border-top: white 1px solid; padding-top: 1vh;">
            
          <ion-row *ngIf="card.HasDrive">
            <br>
            <ion-col col-3>
              <img class="image" src= "./assets/Travel/Ambulance.png">
            </ion-col>
            <ion-col>
              <p class="imageText"><!--{{card.Drive.TimeWithMultChar}}-->XX:XX</p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="card.HasFly">
            <ion-col col-3>
              <!--
              <img class="image" src= "./assets/Travel/Airplane.png"> -->
              <img class="image" src= "./assets/Travel/Helecopter.png">
            </ion-col>
            <ion-col style="padding-left: 0vw;">
              <p style="color: white;"><!--{{card.Air.TimeWithMultChar}}-->XX:XX</p>
            </ion-col>
            </ion-row>
          </ion-row>
          <p id="cardinfo" style="font-size: small;color: white;">
            Patient Pickup to Destination: <b>{{card.TimeWithMultChar}}</b></p>
        </expand>
        
        </ion-grid>
     
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="!card.Driving" tappable (click)="ComplexRoute(card.Air)" text-wrap [style.background-color]="card.colour"><!--These are cards that have airplane routes and will show the icon and call the complexroute function  -->
      <ion-card-content>
        <ion-grid >
          <ion-row>
            <ion-col col-10 >
              <p style="font-size: small;color: white;margin-left: -2vw;"><b>{{card.city}}</b></p>
              <p style="font-size: larger;color: white;">{{card.name}}</p>
          </ion-col>
          <ion-col>
            <!--
           <img src= "./assets/Travel/Airplane.png"> 
            -->
            <div *ngIf="!card.expanded" (click)="expandItem($event,card)">
            <svg xmlns='http://www.w3.org/2000/svg'  class='ionicon' viewBox='0 0 512 512'><title>Chevron Down</title><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M112 184l144 144 144-144'/></svg>
          </div>
          <div *ngIf="card.expanded" (click)="expandItem($event,card)">
            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Chevron Up</title><path fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M112 328l144-144 144 144'/></svg>
        </div>
          </ion-col>
          </ion-row>
          <ion-row >
            <p style="color: white;">{{card.services}}</p>
            <br>
            <p style="font-size: small;color: white;">Historical Time to Definitive Care:
              <span style="font-size: medium;"><b> XX:XX <!--(n=X)--></b></span></p>
            <br>
          </ion-row>
          <expand expandHeight="20vh" [expanded]="card.expanded" style="border-top: white 1px;">
            
          <ion-row style="border-top: white 1px solid; padding-top: 1vh;">
            
            <ion-row *ngIf="card.HasFly">
              <ion-col col-4>
                <!--
                <img class="image" src= "./assets/Travel/Airplane.png"> -->
                <img class="image" src= "./assets/Travel/Helecopter.png">
              </ion-col>
              <ion-col style="padding-left: 0vw;">
                <p class="imageText"><!--{{card.Air.TimeWithMultChar}}-->XX:XX</p>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="card.HasDrive">
              <br>
              <ion-col col-4 >
                <img class="image" src= "./assets/Travel/Ambulance.png">
              </ion-col>
              <ion-col>
                <p class="imageText"><!--{{card.Drive.TimeWithMultChar}}-->XX:XX</p>
              </ion-col>
            </ion-row>
          </ion-row>
          <p id="cardinfo" style="font-size: small;color: white;">
            Institution to Institution: <b>{{card.TimeWithMultChar}}</b></p>
          </expand>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <!--
    <ion-card *ngIf="card.Helipad" tappable (click)="ComplexRoute(card)" text-wrap [style.background-color]="card.colour">
      <ion-card-content>
        <ion-grid >
          <ion-row>
            <ion-col col-9 >
              <p style="font-size: larger;color: white;"><b>{{card.name}}</b></p>
          </ion-col>
          <ion-col>
           <img src= "./assets/Travel/Helecopter.png"> 
          </ion-col>
          </ion-row>
          <ion-row >
          <p id="cardinfo" style="font-size: small;color: white;">
            Patient Pickup to Destination: <b>{{card.TimeWithMultChar}}</b></p>
            <br>
          </ion-row>
          <ion-row>
            <p style="font-size: small;color: white;">Fastest Total Time Achieved<br>Call to Definitive care:<br>
            <span style="font-size: medium;"><b>XX:XX (n=X)</b></span></p>
          </ion-row>
        </ion-grid>  
      </ion-card-content>
    </ion-card>
  -->
  </ion-item>
</ion-list>
</ion-scroll>
</div>


         <!--This is the weather display which has the data stored in the data provider and makes use of the ionic {{}} access to date types along with a data pipeline to better format the numbers -->
         <ion-grid style="background-color: #006bb6;">
          <ion-row>
            <ion-col col-auto>
              <p id="weather" style="background-color:#006bb6;color: white;font-size: large;padding-top: 1vh;">Weather in<br><b>{{this.Data.city}}</b></p>
            </ion-col>
            <ion-col>
              <p style="font-size: x-large;color: white;padding-top: 1vh;" text-center ><b>{{this.Data.origin_tempreal |number:'1.0-0'}}\u00B0C</b></p>
            </ion-col>
            <ion-col>
              <img src= {{this.Data.origin_icon}} style="vertical-align: middle; ">
            </ion-col>
          </ion-row>
        </ion-grid>
   



</ion-content>